<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>SMPrivilegedExecutables</key>
	<dict/>
	<key>TOKEN_BDL</key>
	<string>TOKEN_BDL</string>
	<key>TOKEN_CFD</key>
	<string>TOKEN_CFD</string>
	<key>TOKEN_FD</key>
	<string>TOKEN_FD</string>
</dict>
</plist>
